data/text8
data/text8.zip
embeddings/sgns
embeddings/lda
__pycache__/data.cpython-312.pyc
__pycache__/model.cpython-312.pyc
__pycache__/main.cpython-312.pyc
Logistic_Loss__SADM_.pdf
.gitignore
embeddings/lda2
embeddings/dnll
embeddings/lda3
nohup.out
